.analytics {
    display: flex;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 1rem 1.5rem 0.3rem 0;
}

.tables-container {
    width: 60%;
}

h1 {
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 18px;
    margin-left: 0.75rem;
}

.tables {
    display: flex;
    margin: 0.125rem;
    width: 100%;
}

#table1 {
    width: 45%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#number{
    font-weight: 800;
    text-align: center;
}

#table2 {
    width: 55%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  20% 20% 20% 40%;
}

#table2 div {
    text-align: center;
}
.table-cell {
    font-weight: 600;
    background-color: #ECECEC;
    padding: 0.5rem 1rem;
    margin: 0.125rem;
}

.diagrams {
    width: 50%;
    margin-left: 1.5rem;
}

.green-border {
    background-color: white;
    border: 2px solid #CEF5D9;
}

.peachy-border {
    background-color: white;
    border: 2px solid #FECACA;
}

.green {
    background-color: #CEF5D9;
}

.peachy {
    background-color: #FECACA;
}