<div class="analytics" [class.analytics-changed]="bitcoinOverviewOpened">
    <div class="tables-container" [ngStyle]="{width: bitcoinOverviewOpened ? '100%' : '60%'}">
        <h1>Эффективность сделок с инструментом Биткоин</h1>
        <section class="tables">
            <div id="table1">
                <div class="table-cell"><strong>Profit</strong></div>
                <div class="table-cell" id="number">+30%</div>
                <div class="table-cell">Amount of deals</div>
                <div class="table-cell" id="number">1457</div>
                <div class="table-cell">Max drawdown</div>
                <div class="table-cell" id="number">-4,48%</div>
                <div class="table-cell">Profit factor</div>
                <div class="table-cell" id="number">3,4</div>
                <div class="table-cell">Recovery factor</div>
                <div class="table-cell" id="number">4,2</div>            
            </div>
            <div id="table2">
                <div class="table-cell" ngClass="green-border"><strong>PROFITABILITY</strong></div>
                <div class="table-cell" ngClass="peachy-border"><strong>LOSS</strong></div>
                <div class="table-cell" ngClass="green">Avg <strong>3,29%</strong></div>
                <div class="table-cell" ngClass="peachy">Avg <strong>-1,30%</strong></div>
                <div class="table-cell" ngClass="green">Max <strong>15,4%</strong></div>
                <div class="table-cell" ngClass="peachy">Max <strong>-5,4%</strong></div>
                <div class="table-cell" ngClass="green-border" style="line-height: 2rem;">Profitable deals <br> <strong>70%</strong> (1436)</div>
                <div class="table-cell" ngClass="peachy-border"><span>Unprofitable deals</span> <br> <strong>30%</strong> (321)</div>
            </div>
        </section>
    </div>
   
    <section class="diagrams" [ngStyle]="{width: bitcoinOverviewOpened ? '100%' : '50%'}">
            <div id="diagram1">
                <div id="diagram1-header">
                    <h1 style="margin: 0;">Equity (+30%)</h1>
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Last month</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </div>
                <google-chart [data]="lineChart"></google-chart>
            </div>
            
            <div id="diagram2">
                <h1 style="margin: 0.2rem 0;">The efficiency of the deals</h1>
                <ejs-accumulationchart id="chart-container"  [legendSettings]="legend" >
                    <e-accumulation-series-collection>
                        <e-accumulation-series type='Pie' [dataSource]='piedata' xName="name" yName="value"
                                               [dataLabel]="chartLabel" radius="70%"  [pointColorMapping]='pointColorMapping'
                                               tooltipMappingName='text'></e-accumulation-series>
                    </e-accumulation-series-collection>
                </ejs-accumulationchart>
                <div class="chart-legend">
                    <div>
                        <span id="icon" style="background-color: #D0ECC5;"></span>
                        <p id="legend"> Profitable deals - 70% </p>
                    </div>
                    <div>
                        <span id="icon"></span>
                        <p id="legend">Unprofitable deals - 30% </p>
                    </div>
                </div>
            </div>
    </section>
</div>
