.analytics {
    display: flex;
    border-radius: 4px;
    padding: 1rem 0.3rem 0.3rem 0;
    border: 1px solid #ECECEC;
    border-radius: 4px;
}

.analytics-changed {
    flex-direction: column;
    width: 53%;
    margin-top: -45%;
}

.tables-container {
    width: 60%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 18px;
    margin-left: 0.75rem;
}

.tables {
    display: flex;
    margin: 0.125rem;
    width: 100%;
}

#table1 {
    width: 45%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#number{
    font-weight: 800;
    text-align: center;
}

#table2 {
    width: 55%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  20% 20% 20% 40%;
}

#table2 div {
    text-align: center;
}
.table-cell {
    font-weight: 600;
    background-color: #ECECEC;
    padding: 0.5rem 1rem;
    margin: 0.125rem;
}

.diagrams {
    width: 50%;
    margin-left: 1.5rem;
    display: flex;
}

.green-border {
    background-color: white;
    border: 2px solid #CEF5D9;
}

.peachy-border {
    background-color: white;
    border: 2px solid #FECACA;
}

.green {
    background-color: #CEF5D9;
}

.peachy {
    background-color: #FECACA;
}

#diagram1 {
    width: 65%;
}

#diagram1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle::after {
    color: black;
    font-size: 1rem;
}

#dropdownBasic1 {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1.25rem;
    padding: 0.7rem;
    font-size: 0.9rem;
    line-height: 0.875rem;
    border: 2px solid #ECECEC;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-weight: 600;
}

#dropdownBasic1:hover {
    background-color: #ECECEC;
}

#diagram2 {
    width: 35%;
    text-align: center;
    margin-left: 1.5rem;
}

#chart-container {
    width: 100%;
    height: 70%;
}

.chart-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.chart-legend div {
    width: 90%;
    display: flex;
    align-items: flex-start;
}

#legend {
    font-size: 0.85rem;
    font-weight: 600;
    vertical-align: center;
    margin: 0;
}

#icon {
    height: 0.9rem;
    width: 0.9rem;
    background-color: #FECACA;
    border-radius: 50%;
    display: inline-block;
    margin: 0.3rem;
}

