<div class="analytics">
    <div class="tables-container">
        <h1>Эффективность сделок с инструментом Биткоин</h1>
        <section class="tables">
            <div id="table1">
                <div class="table-cell">Profit</div>
                <div class="table-cell">+30%</div>
                <div class="table-cell">Amount of deals</div>
                <div class="table-cell">1457</div>
                <div class="table-cell">Max drawdown</div>
                <div class="table-cell">-4,48%</div>
                <div class="table-cell">Profit factor</div>
                <div class="table-cell">3,4</div>
                <div class="table-cell">Recovery factor</div>
                <div class="table-cell">4,2</div>            
            </div>
            <div id="table2">
                <div class="table-cell" ngClass="green-border">PROFITABILITY</div>
                <div class="table-cell" ngClass="peachy-border">LOSS</div>
                <div class="table-cell" ngClass="green">Avg 3,29%</div>
                <div class="table-cell" ngClass="peachy">Avg -1,30%</div>
                <div class="table-cell" ngClass="green">Max 15,4%</div>
                <div class="table-cell" ngClass="peachy">Max -5,4%</div>
                <div class="table-cell" ngClass="green-border">Profitable deals <br> 70% (1436)</div>
                <div class="table-cell" ngClass="peachy-border">Unprofitable deals <br> 30% (321)</div>
            </div>
        </section>
    </div>
   
    <section class="diagrams">

    </section>
</div>